
langgraph>=0.0.37
langchain>=0.1.15
langchain-core>=0.1.24


openai>=1.2.0          
langchain-google-genai 
huggingface_hub        


wikipedia
tavily-python
googletrans==4.0.0rc1  

python-dotenv
requests
httpx


streamlit


pandas


beautifulsoup4
lxml

fastapi
uvicorn
